@page "/"

<h1>Web App using .NET Core + Blazor and WebAssembly</h1>

This app is running C# in the browser with my .NET assemblies being transformed into WebAssembly. I have examples for getting data, lifecycle hooks, SignalR and building components.

<br/>

<APIData />

